@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Font */
.work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.color1{
    color: #131313;
}
.color2{
    color: #424242;
}
.color3{
    color: #727272;
}
.btn-style{
    background-color: #FF900E;  
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 24px;
    border: none;
}
.flex{
    display: flex;
}
section{
    margin: 90px 0;
}
.section-title{
    font-size: 2.80rem;
    font-weight: 700;
}

/* Header Styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Nav Styles */
.navbar{
    align-items: center;
}
.nav-logo{
    font-size: 2.80rem;
    font-weight: 700;
}
.nav-links{
    gap: 50px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Styles */
.banner-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin: 30px 0;
}
.banner-desc{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 45px;
    margin-top: 30px;
}

/* Main Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Quick List Styles */
.quick-list{
    gap: 73px;
    align-items: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list-content{
    max-width: 537px;
}
.quick-list-title{
    font-size: 2.80rem;
    margin-bottom: 24px;
}
.quick-list-desc{
    margin-bottom: 32px;
}

/* Features Section Styles */
.features{
    gap: 54px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding: 0 21px;
    margin-bottom: 24px;
}
.features-box{
    padding: 30px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.box-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.features-img{
    width: 100%;
}
.features button{
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -107px;
}
.features-img .value{
    font-size: 4rem;
    font-weight: 700;
}
.features-img .state{
    font-size: 1.50rem;
    font-weight: 500;
}

/* Facts Section Styles */
.facts-desc{
    margin-top: 24px;
    margin-bottom: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-box{
    border: 1px solid #FF900E;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 241px;
    height: 241px;
}
.fact-number{
    font-size: 2.80rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
/* Sponsors Section Style */
.sponsors{
    text-align: center;
}
.sponsors h3{
    margin-bottom: 24px;
}
.sponsors-desc{
    font-size: 1rem;
    margin-bottom: 50px;
}
.sponsors-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-img img{
    filter: grayscale(100%);
}
/* Footer Section Styles */
footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    margin: 0 auto;
    padding: 38px 410px;
}
.footer-title{
    margin: 0;
    text-align: center;
    font-size: 1rem;
}
.footer-title span{
    display: block;
    margin: 5px 0
}

/* Responsive For Mobile Devices */
@media screen and (max-width: 700px) {
    .navbar, 
    .nav-links, 
    .quick-list, 
    .features{
        flex-direction: column;
    }
    .img-container,
    .facts-container,
    .sponsors-img{
        grid-template-columns: 1fr;
    }
    .nav-links{
        text-align: center;
    }
    .features button{
        margin: 0;
    }
    .facts-container, .sponsors-img{
       justify-items: center;
       gap: 24px;
    }
    footer{
        padding: 38px 0;
    }
}
